<script src="${_contextPath}/web/resource/js/jquery.min.js?v=${_config.appConfig.version}"></script>
<script src="${_contextPath}/web/resource/js/jquery.cookie.min.js?v=$${_config.appConfig.version}"></script>
<script src="${_contextPath}/web/resource/js/jquery.contextMenu.min.js?v=${_config.appConfig.version}"></script>

<script src="${_contextPath}/web/resource/js/format.js?v=${_config.appConfig.version}"></script>
<script src="${_contextPath}/web/resource/js/jquery.extend.js?v=${_config.appConfig.version}"></script>

<script src="${_contextPath}/web/resource/js/vue.min.js?v=${_config.appConfig.version}"></script>
<script src="${_contextPath}/web/layuiadmin/layui/layui.js?v=${_config.appConfig.version}"></script>





