<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONLINE UPDATE</title>
  <#include "/web/views/common/header.html" />
</head>
<style>
    .layui-form-label{
        width: 120px !important;
    }
    .layui-table-cell {
        height: auto;
        line-height:inherit;
        padding:3px 15px; !important;
    }

    .layui-table-cell, .layui-table-tool-panel li{
        word-wrap:break-word !important;
        white-space: normal !important;
    }
</style>
<body>
<div class="layui-fluid" id="vue1">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item" style="margin-top: 50px">
                    <label class="layui-form-label" style="font-weight: bold">UUID</label>
                    <div class="layui-col-xs3">
                        <input type="text" minlength="32" maxlength="32" name="uuid" value="${data.uuid}" lay-verify="required" placeholder="LENGTH 32 UUID" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text layui-row">
                    <label class="layui-form-label" style="font-weight: bold">Android<br>Release version</label>
                    <div class="layui-col-xs3">
                        <textarea name="androidRelease" placeholder="Android Release version" class="layui-textarea">${data.androidRelease}</textarea>
                    </div>
                    <div class="layui-form-mid">&nbsp;</div>
                    <div class="layui-input-inline" >
                        <a class="layui-btn" href="${_contextPath}/api/iot/app/version/publish?appUuid=${data.uuid}&sign=${sign}" target="_blank">OPEN API</a>
                        <a class="layui-btn" href="javascript: layui.layer.alert(androidRelease)">DEMO TEXT</a>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text layui-row">
                    <label class="layui-form-label">Android<br>Test version</label>
                    <div class="layui-col-xs3">
                        <textarea name="androidTest"  placeholder="Android Test version" class="layui-textarea" >${data.androidTest}</textarea>
                    </div>
                    <div class="layui-form-mid">&nbsp;</div>
                    <div class="layui-input-inline" >
                        <a class="layui-btn" href="${_contextPath}/api/iot/app/version/test?appUuid=${data.uuid}&sign=${sign}" target="_blank">OPEN API</a>
                        <a class="layui-btn" href="javascript: layui.layer.alert(androidTest)">DEMO TEXT</a>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text layui-row">
                    <label class="layui-form-label" style="font-weight: bold">MCU<br>Release version</label>
                    <div class="layui-col-xs3">
                        <textarea name="mcuRelease"  placeholder="Android Release version" class="layui-textarea" >${data.mcuRelease}</textarea>
                    </div>
                    <div class="layui-form-mid">&nbsp;</div>
                    <div class="layui-input-inline" >
                        <a class="layui-btn" href="${_contextPath}/api/iot/app/version/publish/mcu?appUuid=${data.uuid}&sign=${sign}" target="_blank">OPEN API</a>
                        <a class="layui-btn" href="javascript: layui.layer.alert(mcuRelease)">DEMO TEXT</a>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text layui-row">
                    <label class="layui-form-label">MCU<br>Test version</label>
                    <div class="layui-col-xs3">
                        <textarea name="mcuTest"  placeholder="Android Test version" class="layui-textarea" >${data.mcuTest}</textarea>
                    </div>
                    <div class="layui-form-mid">&nbsp;</div>
                    <div class="layui-input-inline" >
                        <a class="layui-btn" href="${_contextPath}/api/iot/app/version/test/mcu?appUuid=${data.uuid}&sign=${sign}" target="_blank">OPEN API</a>
                        <a class="layui-btn" href="javascript:layui.layer.alert(mcuTest)">DEMO TEXT</a>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text layui-row">
                    <label class="layui-form-label" style="font-weight: bold">CHIP<br>Release version</label>
                    <div class="layui-col-xs3">
                        <textarea name="chipRelease"  placeholder="CHIP Release version" class="layui-textarea" >${data.chipRelease}</textarea>
                    </div>
                    <div class="layui-form-mid">&nbsp;</div>
                    <div class="layui-input-inline" >
                        <a class="layui-btn" href="${_contextPath}/api/iot/app/version/publish/chip?appUuid=${data.uuid}&sign=${sign}" target="_blank">OPEN API</a>
                        <a class="layui-btn" href="javascript: layui.layer.alert(chipRelease)">DEMO TEXT</a>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text layui-row">
                    <label class="layui-form-label">CHIP<br>Test version</label>
                    <div class="layui-col-xs3">
                        <textarea name="chipTest"  placeholder="CHIP Test version" class="layui-textarea" >${data.chipTest}</textarea>
                    </div>
                    <div class="layui-form-mid">&nbsp;</div>
                    <div class="layui-input-inline" >
                        <a class="layui-btn" href="${_contextPath}/api/iot/app/version/test/chip?appUuid=${data.uuid}&sign=${sign}" target="_blank">OPEN API</a>
                        <a class="layui-btn" href="javascript:layui.layer.alert(chipTest)">DEMO TEXT</a>
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="btn-submit">SAVE</button>
                            <a href="javascript:vue1.clear()" class="layui-btn layui-btn-primary">CLEAR</a>
                            <a href="javascript:$.closeWindow()" class="layui-btn layui-btn-primary">CLOSE</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<#include "/web/views/common/script.html" />
<script>
    var androidRelease = "{\"code\":228,\"file_url1\":\"http://sharingweb.oss-cn-shenzhen.aliyuncs.com/apps/ec89b84a69074eb817ef59bd1e84b7251.apk\",\"size\":7369702,\"name\":\"1.0\",\"md5\":\"ec89b84a69074eb817ef59bd1e84b725\"}";
    var androidTest = "{\"code\":228,\"file_url1\":\"http://sharingweb.oss-cn-shenzhen.aliyuncs.com/apps/ec89b84a69074eb817ef59bd1e84b7251.apk\",\"size\":7369702,\"name\":\"1.0\",\"md5\":\"ec89b84a69074eb817ef59bd1e84b725\"}";
    var mcuRelease = "MoudleEC20_DUV1029_0x6E34.bin,53164,http://sharingweb.oss-cn-shenzhen.aliyuncs.com/apps/4db87503609bee2fe2a7b10b84da29291.bin";
    var mcuTest = "MoudleEC20_DUV1029_0x6E34.bin,53164,http://sharingweb.oss-cn-shenzhen.aliyuncs.com/apps/4db87503609bee2fe2a7b10b84da29291.bin";
    var chipRelease = "ChipModule_V1.0.0.bin,45120,http://sharingweb.oss-cn-shenzhen.aliyuncs.com/apps/chip_release_v1.bin";
    var chipTest = "ChipModule_V1.0.0.bin,45120,http://sharingweb.oss-cn-shenzhen.aliyuncs.com/apps/chip_test_v1.bin";

    var vue1 = new Vue({
        el: '#vue1',
        data: {},
        methods: {
            //初始化数据
            init: function () {
                layui.form.on('submit(btn-submit)', function (data) {
                    vue1.submit(data.field);
                    return false;
                });
            },
            //提交修改
            submit: function (field) {
                layer.confirm('save version info', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '${_contextPath}/version/update',
                        data: field,
                        cache: false,
                        loading: true,
                        errorMsg: true,
                        dataType: 'json',
                        success: function (result) {
                            layer.msg('success update', {icon: 1, time: 500}, function () {
                                window.location.reload();
                            });
                        }
                    });
                    layer.close(index);
                });
            },
            //提交修改
            clear: function () {
                layer.confirm('Clear version info', function (index) {
                    $.ajax({
                        type: 'GET',
                        url: '${_contextPath}/version/clear',
                        cache: false,
                        loading: true,
                        errorMsg: true,
                        dataType: 'json',
                        success: function (result) {
                            layer.msg('success update', {icon: 1, time: 500}, function () {
                                window.location.reload();
                            });
                        }
                    });
                    layer.close(index);
                });
            }
        },
        mounted : function () {

        }
    });

</script>

<script>
    layui.config({base: '${_contextPath}/web/layuiadmin/'});
    layui.extend({index: 'lib/index'});
    layui.use(['index','form','table'], function () {
        vue1.init();
    });
</script>
</body>
</html>